@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fasthand-regular {
    font-family: "Fasthand", cursive;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.primary-text {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}

.primary-text-color {
    color: #ffffff;
}

.secondary-text-color {
    color: #878787;
}

.fitness-font-color {
    color: #e6533c;
}

.bg-color {
    background-color: #000000;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}


/* header styles */
/* navbar related styles */
.nav-link {
    text-decoration: none;
}

.fitness-header {
    font-size: 2.25em;
    font-weight: 800;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

/* hamburger */

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger>span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;

}

.nav-bar,
.banner-container {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.banner-header {
    font-size: 4.875rem;
    font-weight: 800;
    text-shadow: 7px 7px #0000006d;
}


.header-back {
    background-image: radial-gradient(#333232, #000000);
}

.banner-content {
    padding-right: 450px;
}

.header-primary-btn {
    background-color: #e6533c;
    padding: 16px 46.5px;
    font-size: 1.125;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    margin-right: 14px;
    cursor: pointer;
}

.header-secondary-btn {
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    padding: 16px 46.5px;
    font-size: 1.125;
    font-weight: 600;
    cursor: pointer;
}

.nav-links {
    border: 1px solid #333232;
    border-radius: 50px;
    padding: 12px 20px;
}

.banner-image {
    margin-right: 150px;
}


.nav-home {
    background-color: #e6533c;
    border-radius: 50px;
    padding: 10px 20px;
}

.video-tutorial,
.free-workout-Videos {
    position: relative;
    border: .5px solid #333232;
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
    border-radius: 12px;
    /* padding: 20px 23px; */
    max-width: 206px;
    max-height: 96px;
    margin-top: -162px;
    margin-left: -110px;
    background-color: rgba(54, 48, 48, 0.429);
    backdrop-filter: blur(8px)
}

.free-workout-Videos {
    margin-top: -350px;
    margin-left: 220px;
    padding-left: 10px;
}

.header-poster-1 {
    font-weight: 900;
    font-size: 1.5rem;
}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #e6533c;
    margin: 10px 10px 10px -10px;
}


@media screen and (max-width: 576px) {
    body {
        padding: 20px;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
        padding-right: 0px;
    }

    .nav-item {
        display: none;
    }

    .nav-links {
        border: none;
    }

    .hamburger {
        flex-direction: column;
        display: flex;
    }

    .banner-header {
        font-size: 2.25rem;
        padding-right: 150px;
        /* padding-left: 20px; */
    }

    .banner-image {
        margin-right: 0px;
    }

    .video-tutorial {
        margin-top: -302px;
        margin-left: -10px;
    }

    .free-workout-Videos {
        margin-top: -300px;
        margin-left: 200px;
        padding-left: 10px;
    }

}