@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fasthand-regular {
    font-family: "Fasthand", cursive;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.primary-text {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}

.primary-text-color {
    color: #ffffff;
}

.secondary-text-color {
    color: #878787;
}

.fitness-font-color {
    color: #e6533c;
}

.bg-color {
    background-color: #000000;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}


/* header styles */
/* navbar related styles */
.nav-link {
    text-decoration: none;
}

.fitness-header {
    font-size: 2.25em;
    font-weight: 800;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

/* hamburger */

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger>span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;

}

.nav-bar,
.banner-container {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.banner-header {
    font-size: 4.875rem;
    font-weight: 800;
    text-shadow: 7px 7px #0000006d;
}


.header-back {
    background-image: radial-gradient(#333232, #000000);
}

.banner-content {
    padding-right: 450px;
}

.header-primary-btn {
    width: 224px;
    background-color: #e6533c;
    padding: 16px 46.5px;
    font-size: 1.125;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    margin-right: 14px;
    cursor: pointer;
}

.header-secondary-btn {
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    padding: 16px 46.5px;
    font-size: 1.125;
    font-weight: 600;
    cursor: pointer;
}

.nav-links {
    border: 1px solid #333232;
    border-radius: 50px;
    padding: 12px 20px;
}

.banner-image {
    margin-right: 150px;
}


.nav-home {
    background-color: #e6533c;
    border-radius: 50px;
    padding: 10px 20px;
}

.video-tutorial,
.free-workout-Videos {
    position: relative;
    border: .5px solid #333232;
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
    border-radius: 12px;
    /* padding: 20px 23px; */
    max-width: 206px;
    max-height: 96px;
    margin-top: -162px;
    margin-left: -110px;
    background-color: rgba(54, 48, 48, 0.429);
    backdrop-filter: blur(8px)
}

.free-workout-Videos {
    margin-top: -350px;
    margin-left: 220px;
    padding-left: 10px;
}

.header-poster-1 {
    font-weight: 900;
    font-size: 1.5rem;
}

.play-button {
    width: 20px;
    height: 20px;
    filter: invert(100);
    display: none;
}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #e6533c;
    margin: 10px 10px 10px -10px;
}

.main-header {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5px;
}

.main-para {
    font-size: .875rem;
    text-align: center;
}

.m-t-p-w-container {
    margin-top: 58px;
    justify-content: space-around;
}

.m-t-p-w-cards {
    text-align: center;
}

.m-t-p-w-images {
    border-radius: 50%;
    border: 4px solid #333232;
}

.m-t-p-w-h4 {
    margin-bottom: 0px;
}

.m-t-p-w-h5 {
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: .875rem;
}

.run-extra-mile-container {
    margin-bottom: 40px;
    margin-top: 100px;
    background-color: #262626;
    border-radius: 20px;
    padding: 30px 54px;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.run-extra-mile-header {
    font-size: 3.35rem;
    font-weight: 800;
    margin-bottom: 5px;
    text-align: left;
}

.run-extra-mile-para {
    font-size: 1rem;
}

.run-image-container {
    width: 25.4%;
    height: 312px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.run-image-container>img {
    width: auto;
    height: auto;
    position: absolute;
    top: -200px;
    left: -770px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
    background-color: #262626;
    border-radius: 20px;
    padding: 20px;
    /* border: 2px solid red; */

}

.image-and-text-container>img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
}
.team-container-h4{
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.text-container{
    position: absolute;
    
}

.text-container-1{
    top: 2170px;
    left: 280px;
}
.text-container-2{
    top: 2170px;
    left: 750px;
}
.text-container-3{
    top: 2170px;
    left: 1230px;
}
.text-container-4{
    top: 2600px;
    left: 280px;
}
.text-container-5{
    top: 2600px;
    left: 750px;
}
.text-container-6{
    top: 2600px;
    left: 1230px;
}

/* .image-and-text-container{
    position: relative;
}
.text-container{
    position: absolute;
} */
.team-container-img {
    border-radius: 20px;
}

.footer-container {
    background-color: #262626;
    margin-top: 88px;
    
}

.footer-content {
    justify-content: space-around;
    padding: 0px 400px 66px;
    justify-items: center;
    /* gap: 100px; */
}

.fitness-container {
    max-width: 443px;
}

.fitness-container-header {
    font-size: 4.375rem;
    margin-bottom: 0px;
}

.fitness-container-h3 {
    font-size: 2rem;
}

.fitness-container-p {
    font-size: 1.3rem;
}

/* .image-and-text-container{
    width: 25.4%;
    height: 312px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
.image-and-text-container>img{
    width: auto;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
} */

.copyright {
    border-top: 2px solid #333232;
    max-width: 1350px;
    justify-content: center;
    margin: 0 auto;
}

.copyright-text {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.25rem;
}

@media screen and (max-width: 576px) {
    body {
        padding: 20px;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
        padding-right: 0px;
    }

    .nav-item {
        display: none;
    }

    .nav-links {
        border: none;
    }

    .hamburger {
        flex-direction: column;
        display: flex;
    }

    .banner-header {
        font-size: 2.25rem;
        padding-right: 150px;
        /* padding-left: 20px; */
    }

    .banner-image {
        margin-right: 0px;
    }

    .video-tutorial {
        margin-top: -302px;
        margin-left: -10px;
    }

    .free-workout-Videos {
        margin-top: -300px;
        margin-left: 200px;
        padding-left: 10px;
    }

    .main-header {
        font-size: 2rem;
    }

    .m-t-p-w-container {
        /* margin-top: 58px; */
        flex-direction: column;
    }

    /* .main-header-container {
        margin-top: 250px;
    }

    .play-button {
        display: block;
        position: relative;
        margin-top: 150px;
        margin-left: 25px;
    } */
    .run-extra-mile-container {
        flex-direction: column;
        gap: 20px;
    }

    .run-image-container {
        width: 120%;
    }

    .header-primary-btn-below {
        width: 100%;
    }

    .run-extra-mile-header {
        font-size: 2rem;
    }

    .footer-content {
        flex-direction: column;
        padding: 0px 10px 40px;
    }

    .copyright {
        border-top: 2px solid #333232;
        max-width: 90%;
        justify-content: center;
        margin: 0 auto;
    }

    .copyright-text {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 1.25rem;
        text-align: center;
    }
}










@media screen and (min-width: 430px) and (max-width: 576px) {
    .main-header-container {
        margin-top: 250px;
    }

    .play-button {
        display: block;
        position: relative;
        margin-top: 165px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 429px) {
    .main-header-container {
        margin-top: 250px;
    }

    .play-button {
        display: block;
        position: relative;
        margin-top: 150px;
        margin-left: 25px;
    }
}